body {
    background-image: url("../images/back_2.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.central_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
