body {
    /*background: -webkit-linear-gradient(90deg, #03040c,#030417,#0c0326);background: linear-gradient(90deg, #03040c,#030417,#0c0326);
    color: white;*/
    background-image: url("../images/back_2.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    height: 100%;

}